.containedor{
    background-color: rgb(9, 99, 235);
    width: 20%;
    height: 100vh;
    padding: 20px;
}

.contenedor1{
    margin-top: 30%;
    
}
.contenedor1 a{
    text-decoration: none;
}
h1{
    font-size: 20px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h3{
    font-size: 15px;
    font-family: monospace;
    color: rgb(38, 38, 85);
}
.logo{
    width: 280px;
    height: 150px;
    margin-left: -10px;
    margin-top: 200px;
}
.contenedor3{
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin-top: -40%;
    
}
   
    

.persona{
    width: 250px;
    height: 250px;
    border-radius: 150px;
} 